<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Lista polis</h2>
        <table class="table-list">
        <thead>
            <tr>
                <th>Nazwa TU</th>
                <th>Numer polis</th>
                <th>Polisa od</th>
                <th>Polisa do</th>
                <th>Akcja</th>
            </tr>
        </thead>
            <tbody>
                <% if(loggedUser.rola == "klient") { %>
                <% for (let polisa of polisy) { %>
    <tr>
        <% if(loggedUser._id == polisa.klient._id) { %>
        <td><%= polisa.tu %></td>
        <td><%= polisa.numerPolisy %></td>
        <td><%= polisa.ochronaOd.toISOString().split('T')[0]%></td>
        <td><%= polisa.ochronaDo.toISOString().split('T')[0] %></td>
        <td>
            <ul class="list-actions">
                <li>
                    <a href="/polisa/details/<%= polisa._id %>" class="list-actions-button-details">Szczegóły</a>
                </li>
                <% if(loggedUser.rola == "admin") { %>
                <li>
                    <a href="/polisa/edit/<%= polisa._id %>" class="list-actions-button-edit">Edytuj</a>
                </li>
                <li>
                    <a href="/polisa/delete/<%= polisa_id %>" class="list-actions-button-delete">Usuń</a>
                </li>
                <% } %>
            </ul>
            <% } %>
        </td>
    </tr>
    <% } %>
    <% } %>

    <% if(loggedUser.rola == "admin") { %>
        <% for (let polisa of polisy) { %>
<tr>
    <td><%= polisa.tu %></td>
    <td><%= polisa.numerPolisy %></td>
    <td><%= polisa.ochronaOd.toISOString().split('T')[0]%></td>
    <td><%= polisa.ochronaDo.toISOString().split('T')[0] %></td>
<td>
<ul class="list-actions">
    <li>
        <a href="/samochod/details/<%= polisa.samochod._id %>" class="list-actions-button-details">Szczegóły</a>
    </li>
    <li>
        <a href="/samochod/edit/<%= polisa.samochod._id %>" class="list-actions-button-edit">Edytuj</a>
    </li>
    <li>
        <a href="/samochod/delete/<%= polisa.samochod._id %>" class="list-actions-button-delete">Usuń</a>
    </li>
    
</ul>
</td>
</tr>
    <% } %>   
    <% } %>
</tbody>
        </table>
        <% if(loggedUser.rola == "admin") { %>
        <p><a href="/polisa/add" class="button-add">Dodaj polisę</a></p>
        <% } %>
    </main>
<%- include('../../fragments/footer.ejs') %>